@model ApiColegio.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreDeUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDeUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoRecuperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoRecuperacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.NombreRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.NombreRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colegio.CodigoColegio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colegio.CodigoColegio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
